<?xml version="1.0"?>
<configuration>
    <connectionString>
        <add name="dbconn" connectionString="localhost;
            port=3306;
            Integrated Security=False;
            Initial Catalog=python_test;
            User ID=root; Password=;"
            providerName="Mysql:Data.MysqlClient" />

    </connectionString>
</configuration>            

